extends layout

block content

  h1(style='margin-top:100px;') #{translation.CreateGenre}
          
  form(method='POST' action='')
    div.form-group.row
      div.col-sm-2
        label(for='name') #{translation.Genre}:
        input#name.form-control.form-control-sm(type='text', placeholder='Fantasy, Poetry etc.' name='name' required='true' value=(undefined===genre ? '' : genre.name) )
    button.btn.btn-primary.btn-sm(type='submit') #{translation.Submit}

  if errors 
    ul
      for error in errors
        li!= error.msg
  <script src="https://apis.google.com/js/platform.js?onload=ginit" async defer></script>