extends layout

block content

  if cert == 'OK'
    h1 Now you are our member! Log in and create Story now.
  else
    h1= title
    h1 Welcome to #[em Story Library], Good practice.

    h1 My contents  
  
    if error
      p Error getting dynamic content.
    else

      p The library has the following record counts:

      ul.tite
        li #[strong Books: ]
          a(href='/catalog/books') !{data.book_count}
        li #[strong Stories: ]
          a(href='/catalog/stories') !{data.story_count}
        li #[strong Genres: ] !{data.genre_count}