<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Tree View</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Bootstrap Tree View</h1>
      <br>
      <div class="row">
        <div class="col-lg-4">
          <div id="treeview1" class=""></div>
        </div>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
    <input type="hidden" id="dic_content" value="#{dic_content}"/>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    script(src='/js/bootstrap_treeview.js')
    script(src='/js/bootstrap_treeview_prc.js')
  </body>
</html>
