<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Tree View</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.4.3.1.css.bootstrap.min.css">
    <link href="/stylesheets/font-awesome.4.7.0.css.font-awesome.min.css" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/practice.css')
  </head>
  <body>
    <div class="container">
      <h1>Bootstrap Tree View</h1>
      <br>
      <div class="row">
        <div class="col-lg-8">
          <div id="treeview1" class=""></div>
        </div>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
    <input type="hidden" id="dic_content" value="#{dic_content}"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    script(src='/js/bootstrap-treeview.js')
    script(src='/js/bootstrap_treeview_prc.js')
  </body>
</html>
