<!DOCTYPE html>
<html lang="en">
  head
    <title>#{translation.Preview}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.4.3.1.css.bootstrap.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/ajax.libs.popper.js.1.14.7.umd.popper.min.js"></script>
    <script src="/js/bootstrap.4.3.1.js.bootstrap.min.js"></script>
    script(src='/js/practice.js')
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/practice.css')
    <link href="/stylesheets/1.3.6.quill.snow.css" rel="stylesheet">
  body(style=(undefined===cfnt ? (undefined===cfwt ? '' : 'font-weight:'+cfwt) : (undefined===cfwt ? 'font-family:'+cfnt : 'font-family:'+cfnt+';font-weight:'+cfwt)))
    div(class='container-fluid')
      div(class='row')
        div(class='col-lg-12')
          div.ql-editor(style='padding: 50px 0 0 0;') !{content}
            br
            button.btn.btn-primary.btn-sm(type='submit', onclick='self.close();') #{translation.Close}
    
    div(style='margin-bottom: 50px;')
