extends layout

block content
  h1(style='margin-top:100px;')= title
  
  ul.tite
    each story in story_list
      li 
        a(href=story.url) !{story.title}

    else
      li There are no stories.
