extends layout

block content
  h1(style='margin-top:100px;')= title
  
  table(class='table table-responsive table-striped table-hover table-condensed' style='margin-top: 10px;')
    thead
    	tr
        th Title
        th Writer
    tbody.wtd
    	each story in story_list
        tr
        	td
            a(href=story.url) !{story.title}
        	td
            #{story.author}
			else
				tr
        	td(colspan='2')
      			There are no stories.
						