extends layout

block content
	h1(style='margin-top:100px;')= title
  
	table(class='table table-striped table-hover table-condensed' style='margin-top: 10px;')
		thead
			tr
				th(width='80%') Title
				th(width='20%') Writer
		tbody
			if story_list
				each story in story_list
					tr
						td
							a(href=story.url) !{story.title}
						td
							span #{story.user.name}
			else
				tr
					td(colspan='2')
						There are no stories.
						