div(class='word_container')
  table(class='table table-striped table-bordered table-hover table-condensed')
    thead
      tr
        th(style='text-align: center;')
          input#checkall(type='checkbox')
        th Title
        th Content
    tbody
      each word, i in word_list
        tr
          td(style='text-align: center;') 
            input#chk(type='checkbox') #{word._id}
          td
            input#ipt(type='text') #{word.title}
          td
            input#txt(type='textarea') #{word.content}
    감자꽃 마을
    귀여운 폰트
    스타일리시
    연성
    하이멜로디
    해바라기
    검은고딕
    고딕 A1
    나눔고딕
    나눔명조
    서툰이야기
    흑백사진
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Stylish" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sunflower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture" rel="stylesheet">
    GamjaFlower
    CuteFont
    Stylish
    YeonSung
    HiMelody
    Sunflower
    BlackHanSans
    GothicA1
    NanumGothic
    NanumMyeongjo
    PoorStory
    BlackAndWhitePicture