body {
    font-family: 'Libre Franklin', 'Jua';
}
#jb_content {
    height: 100%;
    top: 70px;
    margin-bottom: 100px;
    float: left;
    border: 0px solid #ffffff;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    text-indent: 20px;
    text-align: justify;
}
#jb_content_mb {
    height: 100%;
    top: 70px;
    margin-bottom: 100px;
    float: left;
    border: 0px solid #ffffff;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    text-indent: 20px;
    text-align: justify;
}
p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.hgt {color: black;}
#jb_memo {
    height: 90%;
    position: fixed;
    top: 70px;
    left: 66%;
    margin-bottom: 100px;
    float: left;
    border: 0px solid #ffffff;
    overflow-x: hidden;
    overflow-y: hidden; /* prevents scroll bar flash */
    text-indent: 20px;
    text-align: justify;
    display: none;
}
#jb_txtEditor {
    height: 93%;
    position: fixed;
    top: 70px;
    left: 33%;
    padding: 0;
    margin-bottom: 20px;
    float: left;
    border: 0px solid #bcbcbc;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
    display: none;
}
#jb_only_txtEditor {
    height: 100%;
    top: 70px;
    margin-bottom: 20px;
    float: left;
    border: 0px solid #bcbcbc;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    text-indent: 10px;
    text-align: justify;
    display: none;
}
#word_container {
    height: 90%;
    position: fixed;
    top: 70px;
    left: 33%;
    padding: 0;
    margin-bottom: 20px;
    float: left;
    border: 0px solid #bcbcbc;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    z-index: 0;
    display: none;
}
#word_only_container {
    height: 100%;
    top: 70px;
    margin-bottom: 20px;
    float: left;
    border: 0px solid #bcbcbc;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    text-indent: 10px;
    text-align: justify;
    display: none;
}
#jb_sidebar {
    position: fixed;
    top: 70px;
    right: 0;
    padding: 0px 0px 20px 20px;
    margin-bottom: 20px;
    float: right;
    border: 0px solid #bcbcbc;
    text-align: center;
    display: none;
}
.standalone-container {
    margin: 0 auto;
}
#snow-container {
    height: 650px;
}
.ql-showHtml:after {
    content: "[SRC]";
}
.ql-clearContents:after {
    content: "[Clear]";
}
.ql-opnFile:after {
    content: "[File]";
}
#dic_frame {
    width: 100%;
    min-height: 800px;
    border: 0px solid black;
}
#dicType {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.5s ease-in-out;
    z-index: 2;
}

ul.tite li {
    padding-top: 15px;
    font-size: 1.3em;
    text-decoration: none;
}

.boko { display: none; }

.ql-font span[data-label]::before {
    content: attr(data-label);
}

.ql-font span[data-label="Sans Serif"]::before {
    font-family: "Sans Serif";
}

.ql-font span[data-label="Libre Franklin"]::before {
    font-family: "Libre Franklin";
}

.ql-font span[data-label="Inconsolata"]::before {
    font-family: "Inconsolata";
}

.ql-font span[data-label="Roboto"]::before {
    font-family: "Roboto";
}

.ql-font span[data-label="Mirza"]::before {
    font-family: "Mirza";
}

.ql-font span[data-label="Arial"]::before {
    font-family: "Arial";
}

.ql-font span[data-label="나눔 손글씨 펜"]::before {
    font-family: "Nanum Pen Script";
}

.ql-font span[data-label="나눔 손글씨 붓"]::before {
    font-family: "Nanum Brush Script";
}

.ql-font span[data-label="송명"]::before {
    font-family: "Song Myung";
}

.ql-font span[data-label="개구쟁이"]::before {
    font-family: "Gaegu";
}

.ql-font span[data-label="주아"]::before {
    font-family: "Jua";
}

.ql-font span[data-label="감자꽃 마을"]::before {
    font-family: "Gamja Flower";
}
.ql-font span[data-label="귀여운 폰트"]::before {
    font-family: "Cute Font";
}
.ql-font span[data-label="스타일리시"]::before {
    font-family: "Stylish";
}
.ql-font span[data-label="연성"]::before {
    font-family: "Yeon Sung";
}
.ql-font span[data-label="하이멜로디"]::before {
    font-family: "Hi Melody";
}
.ql-font span[data-label="해바라기"]::before {
    font-family: "Sunflower";
}
.ql-font span[data-label="검은고딕"]::before {
    font-family: "Black Han Sans";
}
.ql-font span[data-label="고딕 A1"]::before {
    font-family: "Gothic A1";
}
.ql-font span[data-label="나눔고딕"]::before {
    font-family: "Nanum Gothic";
}
.ql-font span[data-label="나눔명조"]::before {
    font-family: "Nanum Myeongjo";
}
.ql-font span[data-label="서툰이야기"]::before {
    font-family: "Poor Story";
}
.ql-font span[data-label="흑백사진"]::before {
    font-family: "Black And White Picture";
}
.ql-font span[data-label="PT Sans"]::before {
    font-family: "PT Sans";
}

.ql-font span[data-label="Oswald"]::before {
    font-family: "Oswald";
}

.ql-font span[data-label="Caveat"]::before {
    font-family: "Caveat";
}

.ql-font span[data-label="Raleway"]::before {
    font-family: "Raleway";
}

.ql-font span[data-label="Shadows Into Light"]::before {
    font-family: "Shadows Into Light";
}

.ql-font span[data-label="Abril Fatface"]::before {
    font-family: "Abril Fatface";
}

.ql-font span[data-label="Teko"]::before {
    font-family: "Teko";
}

.ql-font span[data-label="Cormorant"]::before {
    font-family: "Cormorant";
}

.ql-font span[data-label="Alfa Slab One"]::before {
    font-family: "Alfa Slab One";
}


.dropdown-menu .dropdown-item span[data-label]::before {
    content: attr(data-label);
}

.dropdown-menu .dropdown-item span[data-label="Sans Serif"]::before {
    font-family: "Sans Serif";
}
.dropdown-menu .dropdown-item span[data-label="Libre Franklin"]::before {
    font-family: "Libre Franklin";
}
.dropdown-menu .dropdown-item span[data-label="Inconsolata"]::before {
    font-family: "Inconsolata";
}
.dropdown-menu .dropdown-item span[data-label="Roboto"]::before {
    font-family: "Roboto";
}
.dropdown-menu .dropdown-item span[data-label="Mirza"]::before {
    font-family: "Mirza";
}
.dropdown-menu .dropdown-item span[data-label="Arial"]::before {
    font-family: "Arial";
}
.dropdown-menu .dropdown-item span[data-label="나눔 손글씨 펜"]::before {
    font-family: "Nanum Pen Script";
}
.dropdown-menu .dropdown-item span[data-label="나눔 손글씨 붓"]::before {
    font-family: "Nanum Brush Script";
}
.dropdown-menu .dropdown-item span[data-label="송명"]::before {
    font-family: "Song Myung";
}
.dropdown-menu .dropdown-item span[data-label="개구쟁이"]::before {
    font-family: "Gaegu";
}
.dropdown-menu .dropdown-item span[data-label="주아"]::before {
    font-family: "Jua";
}
.dropdown-menu .dropdown-item span[data-label="감자꽃 마을"]::before {
    font-family: "Gamja Flower";
}
.dropdown-menu .dropdown-item span[data-label="귀여운 폰트"]::before {
    font-family: "Cute Font";
}
.dropdown-menu .dropdown-item span[data-label="스타일리시"]::before {
    font-family: "Stylish";
}
.dropdown-menu .dropdown-item span[data-label="연성"]::before {
    font-family: "Yeon Sung";
}
.dropdown-menu .dropdown-item span[data-label="하이멜로디"]::before {
    font-family: "Hi Melody";
}
.dropdown-menu .dropdown-item span[data-label="해바라기"]::before {
    font-family: "Sunflower";
}
.dropdown-menu .dropdown-item span[data-label="검은고딕"]::before {
    font-family: "Black Han Sans";
}
.dropdown-menu .dropdown-item span[data-label="고딕 A1"]::before {
    font-family: "Gothic A1";
}
.dropdown-menu .dropdown-item span[data-label="나눔고딕"]::before {
    font-family: "Nanum Gothic";
}
.dropdown-menu .dropdown-item span[data-label="나눔명조"]::before {
    font-family: "Nanum Myeongjo";
}
.dropdown-menu .dropdown-item span[data-label="서툰이야기"]::before {
    font-family: "Poor Story";
}
.dropdown-menu .dropdown-item span[data-label="흑백사진"]::before {
    font-family: "Black And White Picture";
}
.dropdown-menu .dropdown-item span[data-label="PT Sans"]::before {
    font-family: "PT Sans";
}
.dropdown-menu .dropdown-item span[data-label="Oswald"]::before {
    font-family: "Oswald";
}
.dropdown-menu .dropdown-item span[data-label="Caveat"]::before {
    font-family: "Caveat";
}
.dropdown-menu .dropdown-item span[data-label="Raleway"]::before {
    font-family: "Raleway";
}
.dropdown-menu .dropdown-item span[data-label="Shadows Into Light"]::before {
    font-family: "Shadows Into Light";
}
.dropdown-menu .dropdown-item span[data-label="Abril Fatface"]::before {
    font-family: "Abril Fatface";
}
.dropdown-menu .dropdown-item span[data-label="Teko"]::before {
    font-family: "Teko";
}
.dropdown-menu .dropdown-item span[data-label="Cormorant"]::before {
    font-family: "Cormorant";
}
.dropdown-menu .dropdown-item span[data-label="Alfa Slab One"]::before {
    font-family: "Alfa Slab One";
}


/* Set content font-families */

.ql-font-LibreFranklin {
    font-family: "Libre Franklin";
}

.ql-font-inconsolata {
    font-family: "Inconsolata";
}

.ql-font-roboto {
    font-family: "Roboto";
}

.ql-font-mirza {
    font-family: "Mirza";
}

.ql-font-arial {
    font-family: "Arial";
}

.ql-font-NanumPenScript {
    font-family: "Nanum Pen Script";            
}

.ql-font-NanumBrushScript {
    font-family: "Nanum Brush Script";            
}

.ql-font-SongMyung {
    font-family: "Song Myung";            
}

.ql-font-Gaegu {
    font-family: "Gaegu";            
}

.ql-font-Jua {
    font-family: "Jua";            
}


.ql-font-GamjaFlower {
    font-family: "Gamja Flower";            
}
.ql-font-CuteFont {
    font-family: "Cute Font";            
}
.ql-font-Stylish {
    font-family: "Stylish";            
}
.ql-font-YeonSung {
    font-family: "Yeon Sung";            
}
.ql-font-HiMelody {
    font-family: "Hi Melody";            
}
.ql-font-Sunflower {
    font-family: "Sunflower";            
}
.ql-font-BlackHanSans {
    font-family: "Black Han Sans";            
}
.ql-font-GothicA1 {
    font-family: "Gothic A1";            
}
.ql-font-NanumGothic {
    font-family: "Nanum Gothic";            
}
.ql-font-NanumMyeongjo {
    font-family: "Nanum Myeongjo";            
}
.ql-font-PoorStory {
    font-family: "Poor Story";            
}
.ql-font-BlackAndWhitePicture {
    font-family: "Black And White Picture";            
}
.ql-font-PTSans {
    font-family: "PT Sans";       
}


.ql-font-Oswald {
    font-family: "Oswald";            
}

.ql-font-Caveat {
    font-family: "Caveat";            
}

.ql-font-Raleway {
    font-family: "Raleway";            
}

.ql-font-ShadowsIntoLight {
    font-family: "Shadows Into Light";
}

.ql-font-AbrilFatface {
    font-family: "Abril Fatface";            
}

.ql-font-Teko {
    font-family: "Teko";            
}

.ql-font-Cormorant {
    font-family: "Cormorant";            
}

.ql-font-AlfaSlabOne {
    font-family: "Alfa Slab One";            
}

#toolbar-container .ql-size span[data-label="1em"]::before {
    font-size: 1em;
}
#toolbar-container .ql-size span[data-label="1.5em"]::before {
    font-size: 1.5em;
}
#toolbar-container .ql-size span[data-label="2em"]::before {
    font-size: 2em;
}
#toolbar-container .ql-size span[data-label="2.5em"]::before {
    font-size: 2.5em;
}
#toolbar-container .ql-size span[data-label="3em"]::before {
    font-size: 3em;
}
#toolbar-container .ql-size span[data-label="3.5em"]::before {
    font-size: 3.5em;
}
#toolbar-container .ql-size span[data-label="4em"]::before {
    font-size: 4em;
}
#toolbar-container .ql-size span[data-label="6em"]::before {
    font-size: 6em;
}
#toolbar-container .ql-size span[data-label="8em"]::before {
    font-size: 8em;
}
#toolbar-container .ql-size span[data-label="10em"]::before {
    font-size: 10em;
}

.ql-omega:after {
    content: "Tooltip";
}

.tooltip-inner {
    max-width: 100% !important;
}

.tltp {
    color: blue !important;
    cursor: pointer !important;
}

.comment-indent {
    margin-left: 30px;
}

.replyB {
    text-align: left;
    color: blue;
    cursor: pointer;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 52px;
    height: 52px;
    text-align: center;
    line-height: 50px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.word_header {
    position: fixed;
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    width: 100%;
  }

  .spanner{
    position:absolute;
    bottom: 250px;
    left: 0;
    background: #2a2a2a;
    width: 100%;
    display:block;
    text-align:center;
    height: 300px;
    color: #FFF;
    transform: translateY(-50%);
    z-index: 1000;
    visibility: hidden;
  }
  
  .overlay{
    position: fixed;
      width: 100%;
      height: 100vh;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
  }
  
  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
  }
  .loader {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }
  @-webkit-keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  @keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  
  .show{
    visibility: visible;
  }
  
  .spanner, .overlay{
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  .spanner.show, .overlay.show {
      opacity: 1
  }
