#jb_content {
    height: 100%;
    top: 70px;
    padding: 0 10% 0 10%;
    margin-bottom: 20px;
    float: left;
    border: 0px solid #bcbcbc;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    text-indent: 10px;
    text-align: justify;
}
#jb_content_mb {
    height: 100%;
    top: 70px;
    padding: 0;
    margin-bottom: 20px;
    float: left;
    border: 0px solid #bcbcbc;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    text-indent: 10px;
    text-align: justify;
}
p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.hgt {color: black;}
#jb_txtEditor {
    height: 100%;
    position: fixed;
    top: 70px;
    left: 33%;
    padding: 0;
    margin-bottom: 20px;
    float: left;
    border: 0px solid #bcbcbc;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    z-index: 1;
    display: none;
}
#word_container {
    height: 90%;
    position: fixed;
    top: 70px;
    left: 33%;
    padding: 0;
    margin-bottom: 20px;
    float: left;
    border: 0px solid #bcbcbc;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    z-index: 0;
    display: none;
}
#jb_sidebar {
    position: fixed;
    top: 70px;
    right: 0;
    padding: 0px 0px 20px 20px;
    margin-bottom: 20px;
    float: right;
    border: 0px solid #bcbcbc;
    text-align: center;
    display: none;
}
.standalone-container {
    margin: 0 auto;
}
#snow-container {
    height: 750px;
}
.ql-showHtml:after {
    content: "[SRC]";
}
.ql-clearContents:after {
    content: "[Clear]";
}
.ql-opnFile:after {
    content: "[File]";
}
#dic_frame {
    width: 100%;
    min-height: 800px;
    border: 0px solid black;
}
#dicType {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.5s ease-in-out;
    z-index: 2;
}

ul.tite li {
    padding-top: 15px;
    font-size: 1.3em;
    text-decoration: none;
}

.boko { display: none; }

#toolbar-container .ql-font span[data-label="Sans Serif"]::before {
    font-family: "Sans Serif";
}

#toolbar-container .ql-font span[data-label="Libre Franklin"]::before {
    font-family: "Libre Franklin";
}

#toolbar-container .ql-font span[data-label="Inconsolata"]::before {
    font-family: "Inconsolata";
}

#toolbar-container .ql-font span[data-label="Roboto"]::before {
    font-family: "Roboto";
}

#toolbar-container .ql-font span[data-label="Mirza"]::before {
    font-family: "Mirza";
}

#toolbar-container .ql-font span[data-label="Arial"]::before {
    font-family: "Arial";
}

#toolbar-container .ql-font span[data-label="Nanum Pen Script"]::before {
    font-family: "Nanum Pen Script";
}

#toolbar-container .ql-font span[data-label="Oswald"]::before {
    font-family: "Oswald";
}

#toolbar-container .ql-font span[data-label="Shadows Into Light"]::before {
    font-family: "Shadows Into Light";
}

#toolbar-container .ql-font span[data-label="Abril Fatface"]::before {
    font-family: "Abril Fatface";
}

#toolbar-container .ql-font span[data-label="Teko"]::before {
    font-family: "Teko";
}

#toolbar-container .ql-font span[data-label="Cormorant"]::before {
    font-family: "Cormorant";
}

#toolbar-container .ql-font span[data-label="Alfa Slab One"]::before {
    font-family: "Alfa Slab One";
}

/* Set content font-families */

.ql-font-LibreFranklin {
    font-family: "Libre Franklin";
}

.ql-font-inconsolata {
    font-family: "Inconsolata";
}

.ql-font-roboto {
    font-family: "Roboto";
}

.ql-font-mirza {
    font-family: "Mirza";
}

.ql-font-arial {
    font-family: "Arial";
}

.ql-font-NanumPenScript {
    font-family: "Nanum Pen Script";            
}

.ql-font-Oswald {
    font-family: "Oswald";            
}

.ql-font-ShadowsIntoLight {
    font-family: "Shadows Into Light";
}

.ql-font-AbrilFatface {
    font-family: "Abril Fatface";            
}

.ql-font-Teko {
    font-family: "Teko";            
}

.ql-font-Cormorant {
    font-family: "Cormorant";            
}

.ql-font-AlfaSlabOne {
    font-family: "Alfa Slab One";            
}

.comment-indent {
    margin-left: 30px;
}

.replyB {
    text-align: left;
    color: blue;
    cursor: pointer;
}  