body {
    font-family: 'Libre Franklin', 'Jua';
}
#jb_content {
    height: 100%;
    top: 70px;
    margin-bottom: 20px;
    float: left;
    border: 0px solid #bcbcbc;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    text-indent: 10px;
    text-align: justify;
}
#jb_content_mb {
    height: 100%;
    top: 70px;
    margin-bottom: 20px;
    float: left;
    border: 0px solid #bcbcbc;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    text-indent: 10px;
    text-align: justify;
}
p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.hgt {color: black;}
#jb_txtEditor {
    height: 100%;
    position: fixed;
    top: 70px;
    left: 33%;
    padding: 0;
    margin-bottom: 20px;
    float: left;
    border: 0px solid #bcbcbc;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    z-index: 1;
    display: none;
}
#jb_only_txtEditor {
    height: 100%;
    top: 70px;
    margin-bottom: 20px;
    float: left;
    border: 0px solid #bcbcbc;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    text-indent: 10px;
    text-align: justify;
    display: none;
}
#word_container {
    height: 90%;
    position: fixed;
    top: 70px;
    left: 33%;
    padding: 0;
    margin-bottom: 20px;
    float: left;
    border: 0px solid #bcbcbc;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    z-index: 0;
    display: none;
}
#word_only_container {
    height: 100%;
    top: 70px;
    margin-bottom: 20px;
    float: left;
    border: 0px solid #bcbcbc;
    overflow-x: hidden;
    overflow-y: auto; /* prevents scroll bar flash */
    text-indent: 10px;
    text-align: justify;
    display: none;
}
#jb_sidebar {
    position: fixed;
    top: 70px;
    right: 0;
    padding: 0px 0px 20px 20px;
    margin-bottom: 20px;
    float: right;
    border: 0px solid #bcbcbc;
    text-align: center;
    display: none;
}
.standalone-container {
    margin: 0 auto;
}
#snow-container {
    height: 750px;
}
.ql-showHtml:after {
    content: "[SRC]";
}
.ql-clearContents:after {
    content: "[Clear]";
}
.ql-opnFile:after {
    content: "[File]";
}
#dic_frame {
    width: 100%;
    min-height: 800px;
    border: 0px solid black;
}
#dicType {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.5s ease-in-out;
    z-index: 2;
}

ul.tite li {
    padding-top: 15px;
    font-size: 1.3em;
    text-decoration: none;
}

.boko { display: none; }

#toolbar-container .ql-font span[data-label="Sans Serif"]::before {
    font-family: "Sans Serif";
}

#toolbar-container .ql-font span[data-label="Libre Franklin"]::before {
    font-family: "Libre Franklin";
}

#toolbar-container .ql-font span[data-label="Inconsolata"]::before {
    font-family: "Inconsolata";
}

#toolbar-container .ql-font span[data-label="Roboto"]::before {
    font-family: "Roboto";
}

#toolbar-container .ql-font span[data-label="Mirza"]::before {
    font-family: "Mirza";
}

#toolbar-container .ql-font span[data-label="Arial"]::before {
    font-family: "Arial";
}

#toolbar-container .ql-font span[data-label="Nanum Pen Script"]::before {
    font-family: "Nanum Pen Script";
}

#toolbar-container .ql-font span[data-label="Nanum Brush Script"]::before {
    font-family: "Nanum Brush Script";
}

#toolbar-container .ql-font span[data-label="Song Myung"]::before {
    font-family: "Song Myung";
}

#toolbar-container .ql-font span[data-label="Gaegu"]::before {
    font-family: "Gaegu";
}

#toolbar-container .ql-font span[data-label="Jua"]::before {
    font-family: "Jua";
}



#toolbar-container .ql-font span[data-label="GamjaFlower"]::before {
    font-family: "GamjaFlower";
}
#toolbar-container .ql-font span[data-label="CuteFont"]::before {
    font-family: "CuteFont";
}
#toolbar-container .ql-font span[data-label="Stylish"]::before {
    font-family: "Stylish";
}
#toolbar-container .ql-font span[data-label="YeonSung"]::before {
    font-family: "YeonSung";
}
#toolbar-container .ql-font span[data-label="HiMelody"]::before {
    font-family: "HiMelody";
}
#toolbar-container .ql-font span[data-label="Sunflower"]::before {
    font-family: "Sunflower";
}
#toolbar-container .ql-font span[data-label="BlackHanSans"]::before {
    font-family: "BlackHanSans";
}
#toolbar-container .ql-font span[data-label="GothicA1"]::before {
    font-family: "GothicA1";
}
#toolbar-container .ql-font span[data-label="NanumGothic"]::before {
    font-family: "NanumGothic";
}
#toolbar-container .ql-font span[data-label="NanumMyeongjo"]::before {
    font-family: "NanumMyeongjo";
}
#toolbar-container .ql-font span[data-label="PoorStory"]::before {
    font-family: "PoorStory";
}
#toolbar-container .ql-font span[data-label="BlackAndWhitePicture"]::before {
    font-family: "BlackAndWhitePicture";
}



#toolbar-container .ql-font span[data-label="Oswald"]::before {
    font-family: "Oswald";
}

#toolbar-container .ql-font span[data-label="Shadows Into Light"]::before {
    font-family: "Shadows Into Light";
}

#toolbar-container .ql-font span[data-label="Abril Fatface"]::before {
    font-family: "Abril Fatface";
}

#toolbar-container .ql-font span[data-label="Teko"]::before {
    font-family: "Teko";
}

#toolbar-container .ql-font span[data-label="Cormorant"]::before {
    font-family: "Cormorant";
}

#toolbar-container .ql-font span[data-label="Alfa Slab One"]::before {
    font-family: "Alfa Slab One";
}

#toolbar-container .ql-size span[data-label="10em"]::before {
    font-size: 10em;
}
#toolbar-container .ql-size span[data-label="8em"]::before {
    font-size: 8em;
}
#toolbar-container .ql-size span[data-label="6em"]::before {
    font-size: 6em;
}
#toolbar-container .ql-size span[data-label="4em"]::before {
    font-size: 4em;
}
#toolbar-container .ql-size span[data-label="3.5em"]::before {
    font-size: 3.5em;
}
#toolbar-container .ql-size span[data-label="3em"]::before {
    font-size: 3em;
}
#toolbar-container .ql-size span[data-label="2.5em"]::before {
    font-size: 2.5em;
}
#toolbar-container .ql-size span[data-label="2em"]::before {
    font-size: 2em;
}
#toolbar-container .ql-size span[data-label="1.5em"]::before {
    font-size: 1.5em;
}
#toolbar-container .ql-size span[data-label="1em"]::before {
    font-size: 1em;
}

/* Set content font-families */

.ql-font-LibreFranklin {
    font-family: "Libre Franklin";
}

.ql-font-inconsolata {
    font-family: "Inconsolata";
}

.ql-font-roboto {
    font-family: "Roboto";
}

.ql-font-mirza {
    font-family: "Mirza";
}

.ql-font-arial {
    font-family: "Arial";
}

.ql-font-NanumPenScript {
    font-family: "Nanum Pen Script";            
}

.ql-font-NanumBrushScript {
    font-family: "Nanum Brush Script";            
}

.ql-font-SongMyung {
    font-family: "Song Myung";            
}

.ql-font-Gaegu {
    font-family: "Gaegu";            
}

.ql-font-Jua {
    font-family: "Jua";            
}


.ql-font-GamjaFlower {
    font-family: "Gamja Flower";            
}
.ql-font-CuteFont {
    font-family: "Cute Font";            
}
.ql-font-Stylish {
    font-family: "Stylish";            
}
.ql-font-YeonSung {
    font-family: "Yeon Sung";            
}
.ql-font-HiMelody {
    font-family: "Hi Melody";            
}
.ql-font-Sunflower {
    font-family: "Sunflower";            
}
.ql-font-BlackHanSans {
    font-family: "Black Han Sans";            
}
.ql-font-GothicA1 {
    font-family: "Gothic A1";            
}
.ql-font-NanumGothic {
    font-family: "Nanum Gothic";            
}
.ql-font-NanumMyeongjo {
    font-family: "Nanum Myeongjo";            
}
.ql-font-PoorStory {
    font-family: "Poor Story";            
}
.ql-font-BlackAndWhitePicture {
    font-family: "Black And White Picture";            
}


.ql-font-Oswald {
    font-family: "Oswald";            
}

.ql-font-ShadowsIntoLight {
    font-family: "Shadows Into Light";
}

.ql-font-AbrilFatface {
    font-family: "Abril Fatface";            
}

.ql-font-Teko {
    font-family: "Teko";            
}

.ql-font-Cormorant {
    font-family: "Cormorant";            
}

.ql-font-AlfaSlabOne {
    font-family: "Alfa Slab One";            
}

.ql-size-10em {
    font-size: 10em;
}
.ql-size-8em {
    font-size: 8em;
}
.ql-size-6em {
    font-size: 6em;
}
.ql-size-4em {
    font-size: 4em;
}
.ql-size-35em {
    font-size: 3.5em;
}
.ql-size-3em {
    font-size: 3em;
}
.ql-size-25em {
    font-size: 2.5em;
}
.ql-size-2em {
    font-size: 2em;
}
.ql-size-15em {
    font-size: 1.5em;
}
.ql-size-1em {
    font-size: 1em;
}

.comment-indent {
    margin-left: 30px;
}

.replyB {
    text-align: left;
    color: blue;
    cursor: pointer;
}  